@page "/"
@inject NotificationsManager Notifications
@implements IDisposable

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ul>
    @foreach (var entry in _log)
    {
        <li>@entry</li>
    }
</ul>

@code {
    private List<string> _log = new List<string>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        this.Notifications.DataFetchedAsync += ShowLog;
    }

    private async Task ShowLog(string user)
    {
        _log.Add($"{user} just fetched some forecasts");

        this.StateHasChanged();
    }

    public void Dispose()
    {
        this.Notifications.DataFetchedAsync -= ShowLog;
    }
}